.calendar-button {
  color: white !important;
  background-color: #35bee0 !important;
  margin: 0.1em 0.01em 0.1em 0.5em !important;
  width: 6em !important;
  padding: 1em !important;
  min-height: 100% !important;
}

p {
  color: #59499e
}

.calendar-date {
  color: #35bee0;
  font-weight: bolder;
  text-shadow: 2px 1px 0 white;
  font-size: 1.5em;
  margin-left: 1em;
}

.segment-title {
  height: 50px;
  color: #59499e;
  text-shadow: 2px 2px 4px grey;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: left;
}

.calendar-item {
  display: flex;
  justify-content: space-between;
}

.calendar-title {
  background-color: #59499e;
  font-size: 2.5em;
  color: white;
  text-shadow: 2px 2px 4px grey;
  font-style: italic;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 5px;
}

.calendar {
  height: 100vh;
}

.segment-spacing {
  margin: 1.5rem !important;
}