.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wall {
  background: url('https://images.unsplash.com/photo-1550895030-823330fc2551?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80') center center no-repeat;
  background-size: cover;
}

.main-title{
  font-size: '2.5em';
  color: 'black';
  text-shadow: '2px 2px 4px grey';
  font-style: 'italic';
  text-align: 'center';
  padding-top:'1em';
  padding-bottom:'0.5em';
}
@media screen and (max-width: 420px) {
  .talkButton{
      color: 'white';
      background-color: '#5cba57';
      margin: '0.1em 0.01em 0.1em 2.5em';
      width: '6em';
      padding: '1em';
      min-height: '100%';
  }
}